<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!--服务名称，自定义-->
    <dubbo:application name="ErpServiceProducer"/>

    <!--注册中心地址-->
    <dubbo:registry address="zookeeper://111.231.208.152:2181"/>

    <!--dubbo的协议和端口 添加host可以指定使用的网卡-->
    <!--<dubbo:protocol host="111.231.208.152" name="dubbo" port="20880"/>-->

    <!--<dubbo:protocol host="192.168.1.102" name="dubbo" port="20880"/>-->

    <!-- 将bin放入容器 -->
    <bean id="carService" class="com.wayne.erp.service.impl.CarServiceImpl"/>
    <bean id="employeeLoginLogService" class="com.wayne.erp.service.impl.EmployeeLoginLogServiceImpl"/>
    <bean id="employeeService" class="com.wayne.erp.service.impl.EmployeeServiceImpl"/>
    <bean id="fixService" class="com.wayne.erp.service.impl.FixServiceImpl"/>
    <bean id="orderService" class="com.wayne.erp.service.impl.OrderServiceImpl"/>
    <bean id="partsService" class="com.wayne.erp.service.impl.PartsServiceImpl"/>
    <bean id="permissionService" class="com.wayne.erp.service.impl.PermissionServiceImpl"/>
    <bean id="typeService" class="com.wayne.erp.service.impl.TypeServiceImpl"/>

    <!--暴露服务-->
    <dubbo:service interface="com.wayne.erp.service.CarService" ref="carService"/>
    <dubbo:service interface="com.wayne.erp.service.EmployeeLoginLogService" ref="employeeLoginLogService"/>
    <dubbo:service interface="com.wayne.erp.service.EmployeeService" ref="employeeService"/>
    <dubbo:service interface="com.wayne.erp.service.FixService" ref="fixService"/>
    <dubbo:service interface="com.wayne.erp.service.OrderService" ref="orderService"/>
    <dubbo:service interface="com.wayne.erp.service.PartsService" ref="partsService"/>
    <dubbo:service interface="com.wayne.erp.service.PermissionService" ref="permissionService"/>
    <dubbo:service interface="com.wayne.erp.service.TypeService" ref="typeService"/>

</beans>