<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!--服务名称，自定义-->
    <dubbo:application name="ErpFrontWeb"/>

    <!--dubbo的协议和端口-->
    <dubbo:registry address="zookeeper://111.231.208.152:2181"/>

    <!--接收消费服务-->
    <dubbo:reference interface="com.wayne.erp.service.FixService" id="fixService" timeout="5000"/>

    <dubbo:reference interface="com.wayne.erp.service.EmployeeService" id="employeeService" timeout="5000"/>
    <dubbo:reference interface="com.wayne.erp.service.PermissionService" id="permissionService" timeout="5000"/>
    <dubbo:reference interface="com.wayne.erp.service.EmployeeLoginLogService" id="employeeLoginLogService" timeout="5000"/>

</beans>